header {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

#blok1 {
	background-color: rgb(116, 71, 42);
	color: white;
	width: 200px;
	height: 150px;
	border: 2px solid black;
}

#blok2 {
	flex-grow:1;
	background-color: aquamarine;
}
